/*---------DOCUMENT---------*/

body {
  background-color: green;
}

/*--------CONTAINERS---------*/
#banner {
  width: 100%;
  background-color: antiquewhite;
  text-align: center;
  margin-top: 0px;
  padding: 10px;
  position: fixed;
  top: 0px;
  box-shadow: 2px 2px 2px;
}

#dealt-container {
  margin: auto;
  position: relative;
  top: 200px;
}

/*---------BOXES-----------*/
#dealtCards {
  margin-right: auto;
  margin-left: auto;
  border-spacing: 10px;
}
#hand {
  margin: 10px 10px 10px 10px;
  border: solid whitesmoke;
  border-width: 5px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  height: 40px;
  width: 20px;
}

/*----------BUTTONS----------*/
/* #dealButton {
  background-color: antiquewhite;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  border: 3px solid navy;
  border-radius: 10px;
  padding: 3px;
  font-weight: bold;
  margin-left: 65%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-spacing: 30px;
  top: 300px;
  /* cursor: default; */
/* } */ */

/*------------TEXT------------*/
#banner-text {
  color: navy;
  letter-spacing: 14px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

/*-----------IMAGES------------*/
.backgroundImage {
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  position: relative;
  display: flex;
}
.dealImage {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 65%;
  width: 150px;
  top: 300px;
}